SECRET_KEY=django-insecure-cyc(l(oppum35ug@@4aafhwrwrsihme2juegy##nfc!0s8iff4
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_USER=postgres
DB_NAME=Delivery_DB
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=5434